name: Checks

on:
  push:
    branches:
      - main
  workflow_dispatch: # allow manual trigger

jobs:
  test-lint:
    name: Test and List
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Wait
        run: docker compose run --rm app python manage.py wait_for_db
      - name: Test
        run: docker compose run --rm app python manage.py test
      - name: Lint
        run: docker compose run --rm app flake8
